.drop-down {
  position: absolute;
  left: -55px;
  top: 47px;
  width: 168px;
  height: 114px;
  background: #ffffff;
  border-radius: 0 0 5px 5px;
  &.is-close {
    display: none;
  }
  &.is-open {
    display: block;
  }

  &__item {
   

    height: 38px;
    
    font-size: 15px;
    line-height: 18px;
    
    /* identical to box height */
    color: #969696;
  }

  &__link {
    display: block;
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.drop-box {
  position: relative;

  &__link {
    display: inline-flex;
    align-items: center;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: #fff;
  }

  // &:hover > .drop-box__icon {
  //   fill: $secon-color;
  //   transform: rotate(180deg);
  //   transition: $main-animation;
  // }
}

.drop-down .drop-down__item:hover {
  padding-left: 4px;
  transition: $main-animation;
  & a {
  width: 160px;
  height: 34px;
  padding-left: 20px;
  color: #000000;
  background: #F1F2F4;
  border-radius: 2px;
  transition: $main-animation;
  }
}

