.page-header {
  padding-top: 21px;
  padding-bottom: 22px;
  border-bottom: 1px solid;
  height: 70px;
}

.header {
  display: flex;
  position: relative;

  &.auth {
    width: 351px;
    height: 48px;
  }
}

.nav {
  height: 100%;
  align-items: center;

  &-link {
    margin-right: 40px;
    height: 48px;
  }
  .header-logo {
    width: 190px;
    height: 48px;
    fill: #fff;
  }
}

.social {
  align-items: center;
  width: 150px;
  margin-right: 149px;

  &-item:not(:last-child) {
    margin-right: 10px;
  }
  &-item {
    height: 30px;
  }

  &-icon {
    width: 30px;
    height: 30px;
    fill: $main-color;
  }

  &-item:hover svg {
    fill: $secon-color;
    transition: $main-animation;
  }
}

.menu {
  align-items: center;
  width: 371px;
  margin-right: 39px;

  &-item {
    position: relative;

    // &>a {
    //   padding-bottom: 34px;
    // padding-top: 34px;
    // }
  }

  &-item:not(:last-child) {
    margin-right: 45px;
  }

  &-item:hover,
  &-item a:focus {
    color: $secon-color;
    transition: $main-animation;

    & .drop-box__icon {
      fill: $secon-color;
      transform: rotate(-180deg);
      transition: $main-animation;
    }
  }

  &-item .drop-box__link::after,
  &-item .menu-item_link::after {
    content: '';
    position: absolute;
    bottom: -26px;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 24px;
    height: 3px;
    border-radius: 10px;
    background-color: $secon-color;

    transition: $main-animation;

    opacity: 0;
  }
  &-item a:hover::after {
    opacity: 1;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 19px;
  border-radius: 5px;

  &.registration {
    height: 48px;
    width: 208px;
    margin-right: 10px;
    background: #6ceec7;
    // transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  &.login {
    height: 48px;
    width: 133px;
    color: $main-color;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
  }

  &-icon {
    width: 24px;
    height: 24px;
    margin-left: 9px;
  }
}

.button.login > .button-icon {
  fill: $main-color;
}

.button.registration:hover,
.button.registration:focus {
  color: $secon-color;
  transition: $main-animation;
  background: rgba(4, 4, 4, 0.1);
  border: 1px solid #6ceec7;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  // transform: matrix(-1, 0, 0, 1, 0, 0);
  & svg {
    fill: $secon-color;
    transition: $main-animation;
  }
}

.button.login:hover,
.button.login:focus {
  transition: $main-animation;
  color: #000000;
  background: #f1f2f4;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  // transform: matrix(-1, 0, 0, 1, 0, 0);
  & svg {
    fill: #000000;
    transform: rotate(-90deg);
    transition: $main-animation;
  }
}

.button-wraper {
  position: relative;
  width: 218px;
  height: 48px;
}

.button-anim {
  position: absolute;
  transition: $main-animation;

  &.log {
    right: 0;
  }

  &:hover {
    transform: translateY(-5px);
    transition: $main-animation;
  }
}
