.search-section {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  padding-bottom: 175px;

  &__title {
    display: inline-block;
    width: 649px;
    height: 146px;
    font-family: $second-font;
    font-weight: 500;
    font-size: 62px;
    line-height: 1.18;
  }
}

.title-container {
  color: #6ceec7;
}

.search-form {
  display: inline-flex;
  margin-top: 40px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);

  &__input {
    width: 400px;
    height: 56px;
    border: 0;
    padding-left: 55px;
    border-radius: 5px 0 0 5px;

    &:focus {
      outline: none;
    }
  }

  &__button {
    display: inline-block;

    width: 165px;
    height: 56px;
    background: #6ceec7;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__lable {
    position: relative;
    display: inline-block;
    color: #6a6a6a;
    font-size: 19px;
    line-height: 22px;
  }

  &__icon {
    position: absolute;
    left: 16px;
    top: 16px;
    width: 24px;
    height: 24px;
  }

  & span {
    position: absolute;
    bottom: 16px;
    left: 55px;
    opacity: 0.5;
    visibility: hidden;
    transition: $main-animation;
  }
}

.search-form__input:placeholder-shown ~ span {
  visibility: visible;
}

.search-form__input:placeholder-shown:focus ~ span,
.search-form__input:not(:placeholder-shown) ~ span {
  bottom: 40px;
  left: 55px;
  opacity: 1;
  font-size: 11px;
  line-height: 13px;
  visibility: visible;
}

// .search-form{
//   position: relative;
// }

// http://shpargalkablog.ru/2018/01/placeholder.html
