.search-section {
  margin-top: 245px;
  display: flex;

  &__title {
    display: inline-block;
    width: 649px;
    height: 146px;
    font-family: $second-font;
    font-weight: 500;
    font-size: 62px;
    line-height: 1.18;
  }
}

.title-container {
  color: #6ceec7;
}

.search-form {
  margin-top: 40px;

  &__input {
    width: 400px;
    height: 56px;
    border: 0;
  }

  &__button {
    width: 165px;
    height: 56px;
    background: #6ceec7;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
